header{
    border: 3px solid grey;
    padding: 15px;
    height: 5%;
    width:100%;
    line-height: 5%;
    text-align: center;
    font-size: 100%;
}
html *{
    font-family: Lucida Sans Unicode;
    color: grey;
}
body{
    margin: 0 auto;
}
.menu{
    margin-bottom: 50px;
    margin-top: 30px;
    margin-right: 100px;
    position: relative;
    width: auto;
    text-align: right;
}

.menu a{
    padding: 10px;
    font-family: Lucida Sans Unicode;
    color: grey;
    font-size: 20px;
    text-decoration: none;
    display: inline;
}
.menu a:hover{
    color: lightgrey;
}

.items{
    float: left;
    border: 2px solid grey;
    padding-right: 150px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-top: 10px;
    width: 5%;
    margin-left: 50px;
    margin-bottom: 20px;
    display: inline;
    position: relative;
    text-align: left;
    
}
.items a{
    font-family: Lucida Sans Unicode;
    color: grey;
    font-size: 30px;
    text-decoration: none;
    
}
.items a:hover{
    color: lightgrey;
}
section{
    margin-bottom: 50px;
    text-align: justify;
}
#text{
    float: left;
    margin-left: 50px;
    display:inline;
    width: 70%;
}
img{
     width:90%; 
     margin-left: auto;
	 margin-right: auto;
	 display: block;
     margin-top: 50px;
     margin-bottom: 50px;
}